@{
    ViewBag.Title = "Contáctanos";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    <dl class="dl-horizontal">
        <dt>
            Dirección:
        </dt>

        <dd>
            Universidad Salvadoreña Alberto Masferrer
        </dd>
        <dt>
            Horario de Atención:
        </dt>

        <dd>
            Lunes a Domingo (10am - Media Noche)
        </dd>
        <dt>
            Administrador:
        </dt>

        <dd>
            Erick Pacheco
        </dd>
        <dt>
            Celular:
        </dt>

        <dd>
            980655030
        </dd>
    </dl>
</address>

<address>
    <strong>Administración:</strong>   <a href="mailto:Support@example.com">Usam.edu@sv.com</a><br />
    
</address>